<div class="ob-content-panel ob-content-panel-75 by-the-people">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h2 class="ob-heading-md">CREATED BY THE PEOPLE, FOR THE PEOPLE</h2>
				<p>We created My Fit Life because you need it. Healthy, tasty, and affordable meals are great, and getting results is even better. Want to lose body fat, build muscle or increase energy levels? No problem - we’ve got you covered!</p>


			</div>
			<div class="col-md-6 col-sm-6 image-col">
				<img src="{{cdn 'assets/img/ob-custom/staff-2.jpg'}}" alt="" />
			</div>
		</div>

		<div class="divider">&nbsp;</div>

		<div class="row">
			<div class="col-md-6 col-sm-6">
				<h2 class="ob-heading-sm">EDUCATE, MOTIVATE, AND BELIEVE!</h2>
				<p>The Dietitians and Nutritionist at MFF will get you results by educating, motivating and getting you to believe. 
					This is what they are great at and their customer programs aren't bad either!
				</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<h2 class="ob-heading-sm">MEAL PREPPING IS A TEAM SPORT</h2>
				<p>It takes a team to shop, to cook 48 different meals fresh daily, to package, and to clean. Kick back, let us save you time and money. Plus, do you really want to do the dishes?</p>
			</div>
		</div>
	</div>
</div>
