<div class="ob-content-panel typical-day">
	<div class="container">
		<div class="section-heading">
			<h2 class="ob-heading-lg">A TYPICAL MFF DAY</h2>
			<p>Tell us your goals and we’ll help you setup the perfect day.</p>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 image-col">
				<img src="{{cdn 'assets/img/ob-custom/fit_griddle.png'}}" alt="" />
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 class="ob-heading-sm ob-text-orange">BREAKFAST</h3>
				<h2 class="ob-heading-md">Fit Griddle</h2>

				<p>You’ve been fasting for 8 hours, your body is hungry. Fuel it and kick start your metabolism for the day by Break’n the Fast, with quality protein, carbs n' fats.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 image-col">
				<img src="{{cdn 'assets/img/ob-custom/macadamia_3.png'}}" alt="" />
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 class="ob-heading-sm ob-text-orange">SNACK</h3>
				<h2 class="ob-heading-md">MACADAMIA NUT PROTEIN COOKIE</h2>

				<p>Snack between breakfast and lunch to stay full and energized. This may help keep your blood sugar and energy levels stable.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 image-col">
				<img src="{{cdn 'assets/img/ob-custom/salmon_meal_reg.jpg'}}" alt="" />
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 class="ob-heading-sm ob-text-orange">LUNCH</h3>
				<h2 class="ob-heading-md">SALMON MEAL</h2>

				<p>Our lunches are fueled with lean protein, low-glycemic carbohydrates, veggies, and antioxidant-rich spices to keep your energy high during the day. <br /><br />This can help keep the afternoon hunger monster at bay.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 image-col">
				<img src="{{cdn 'assets/img/ob-custom/chicken-tacos-2.png'}}" alt="" />
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 class="ob-heading-sm ob-text-orange">SNACK</h3>
				<h2 class="ob-heading-md">CHICKEN SNACK TACOS</h2>

				<p>The after-lunch slump disappears as you enjoy our balanced snacks. Eating frequently may help boost your metabolism, burn fat and keep you energized throughout the day.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 image-col">
				<img src="{{cdn 'assets/img/ob-custom/caveman-steak-2.png'}}" alt="" />
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 class="ob-heading-sm ob-text-orange">DINNER</h3>
				<h2 class="ob-heading-md">CAVEMAN STEAK</h2>

				<p>Our low-carb dinners are loaded with lean protein and fresh veggies. Why? Skipping carbs before bed may help you sleep better and can help prevent body fat storage.</p>
			</div>
		</div>
	</div>
</div>
