<div class="ob-content-panel ob-content-panel-75 ob-content-panel-center because-science">
	<div class="container">
		<img src="{{cdn 'assets/img/ob-custom/staff-1.jpg'}}" alt="" />

		<h2 class="ob-heading-lg">WHY MY FIT LIFE? BECAUSE SCIENCE.</h2>
		<p>Studies show it takes 6 months to change a habit. We find out how many calories you need per day for the best results, and create a meal plan just for you. Then we check in with you via weekly emails and bi-weekly calls. Imagine the results you'll get with your own nutritional coach!</p>
		<a href="https://cmercer.clickfunnels.com/optin81ept93o" class="ob-btn ob-btn-white ob-btn-inline">Take the Challenge</a>
	</div>
</div>
