---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
---
{{#partial "page"}}

<style>
    .body {
        margin: 0;
    }
    .body .container {
        max-width: 100%;
        padding: 0;
    }
    .body .container .container {
        max-width: 1210px;
        padding: 0 20px;
    }
</style>

<main class="full blog">
    {{> components/ob-custom/blog/blog-intro}}

    <div class="container blog-container blog-grid-container">
        <div class="row">
            {{#each blog.posts}}
                {{> components/ob-custom/blog/ob_blog-post post=this}}
            {{/each}}
        </div>
    </div>

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
