<div class="ob-content-panel ob-content-panel-75 ob-21-days-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<img src="{{cdn 'assets/img/ob-custom/home-team.jpg'}}" alt="" style="    box-shadow: -15px 15px #fa8a00"/>
			</div>
			<div class="col-md-6 col-sm-6">
				<h2 class="ob-heading-lg">CHANGE YOUR HABITS WITH MYFITLIFE</h2>
				<p><strong>The meal plan that started it all. </strong>Our legendary My Fit Life plan takes all of the guesswork out of eating right.
				</p>
				<div class="btn-block">
					<a class="ob-btn ob-btn-light-green" href="../21-day-challenge/">Get Started</a>
					<a class="ob-btn ob-btn-orange" href="../success-stories/">Real Stories</a>
				</div>
			</div>
		</div>
	</div>
</div>
