<div class="ob-content-panel ob-content-panel-75 ob-21-days-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<img src="{{cdn 'assets/img/ob-custom/hat.jpg'}}" alt="" style="    box-shadow: -15px 15px #fa8a00"/>
			</div>
			<div class="col-md-6 col-sm-6">
				<h2 class="ob-heading-lg">MyFitFoods is the original meal-prep business.</h2>
				<p>Learn more about our story and what drives our business everyday to continue to provide healthy, affordable, and attainable meal options.</p>
				<div class="btn-block">
					<a class="ob-btn ob-btn-light-green" href="../why-mff/">The MyFitFoods Story</a>
				
				</div>
			</div>
		</div>
	</div>
</div>
