<div class="ob-content-panel ob-content-panel-75 ob-commitment-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-5 image-col">
				<img src="{{cdn 'assets/img/ob-custom/mff-sub-logo.png'}}" alt="" />
			</div>
			<div class="col-md-7 col-sm-7">
				<p class="ob-paragraph-md ob-text-bold">
					We’re committed to helping people change their lives through food by cooking healthy, delicious, affordable and above all, fresh meals using only the best ingredients.
				</p>
				<p class="ob-paragraph-md">
					MyFitFoods is the original meal-prep business and paved the way for the industry!
				 <!--before being acquired in 2010. The founder purchased the business out of bankruptcy court and is back with with his head on straight. 	-->
					
					
					A lot has changed since then, but one thing hasn’t, we have an amazing staff who genuinely cares about you!
				</p>
				<p class="ob-paragraph-md">
					Learn more about our story and what drives our business everyday to continue to provide healthy, affordable, and attainable meal options.
				</p>

				<div class="btn-block">
					<a class="ob-btn ob-btn-inline" href="../why-mff/">The MyFitFoods Story</a>
				</div>
			</div>
		</div>
	</div>
</div>
