<div class="ob-content-panel ob-content-panel-75 ob-choices-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="ob-heading-lg">GOOD CHOICES MADE EASY</h2>
			</div>

			<div class="panel-content-block col-md-6 col-sm-6">
				<svg>
	                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ob-basket-orange"></use>
	            </svg>
				<h3 class="ob-heading-md">Best-In-Class Ingredients</h3>
				<p class="ob-paragraph-md">
					We stock fresh meals daily for all of your grab-n-go needs. Stop by your local store to find the best meals & get ready to start fueling your body for success.
				</p>
				<a class="ob-btn ob-btn-orange ob-btn-inline" href="../locations/">SHOP YOUR LOCAL STORE</a>
			</div>
			<div class="panel-content-block col-md-6 col-sm-6">
				<svg>
	                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ob-cutlery-orange"></use>
	            </svg>
				<h3 class="ob-heading-md">BUY ONE MEAL OR ONE WEEK’S WORTH</h3>
				<p class="ob-paragraph-md">
					Meal planning doesn’t have to be hard. In fact, we make that easy too. Find the food you want and pick up in-store today or tomorrow.
				</p>
				<a class="ob-btn ob-btn-orange ob-btn-inline" href="../meals/">FIND YOUR FIT LIFESTYLE</a>
			</div>
		</div>
	</div>
</div>
