<div class="ob-content-panel ob-content-panel-75 ob-commitment-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-5 image-col">
				<img src="{{cdn 'assets/img/ob-custom/mff-sub-logo.png'}}" alt="" />
			</div>
			<div class="col-md-7 col-sm-7">
				<p class="ob-paragraph-md">
					Learn more about our story and what drives our business everyday to continue to provide healthy, affordable, and attainable meal options.
				</p>

				<div class="btn-block">
					<a class="ob-btn ob-btn-inline" href="../why-mff/">The MyFitFoods Story</a>
				</div>
			</div>
		</div>
	</div>
</div>
