<style>
.ob-heading-xl{color:white;}
.ob-paragraph-lg{color:white;}
@media screen and (max-width:551px) {
.ob-heading-xl{color:#005677;}
.ob-paragraph-lg{color:#005677;}
}
</style>
<div class="ob-hero-banner">
	<div class="bg-overlay">
		<div class="container">
			<div class="panel-content">
				<h1 class="ob-heading-xl">FRESH MEALS FOR PEOPLE WHO LOVE HEALTHY FOOD</h1>
				<p class="ob-paragraph-lg">
					Tasty and nutritious meal prep, made affordable.
				</p>

				<div class="fit-meals-wrapper">
					<a class="ob-btn ob-btn-blue ob-btn-inline" href="../meals/" style="color:#fa8a00!important;>
						Shop Fit Meals
						<svg>
			                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ob-cutlery"></use>
			            </svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
