<div class="ob-hero-banner">
	<div class="bg-overlay">
		<div class="container">
			<div class="panel-content">
				<h1 class="ob-heading-xl" style="color:white!important">FRESH MEALS FOR PEOPLE WHO LOVE HEALTHY FOOD</h1>
				<p class="ob-paragraph-lg" style="color:white!important">
					Tasty and nutritious meal prep, made affordable.
				</p>

				<div class="fit-meals-wrapper">
					<a class="fit-meals-btn ob-btn ob-btn-light-green ob-btn-inline" href="../meals/">
						Shop Fit Meals
						<svg>
			                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ob-cutlery"></use>
			            </svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
