<style>.ob-btn-blue:hover {
    background-color: #005677!important;
}
.ob-content-panel.ob-new-meal-panel {
    background: linear-gradient( 
315deg
 , rgba(0,88,119,1) 0%, rgba(46,179,118,1) 100%)!important;
}

</style>

<div class="ob-content-panel ob-new-meal-panel" style="background:#64be6b">
	<div class="container">
		<div class="snack-slider-wrapper">
			<div class="snack">
				<div class="row">
					<div class="col-md-6 col-sm-6 item-content-col">
						<h4 class="ob-heading-sm" style="color:white">NEW SNACK ALERT!</h4>
						<h2 class="ob-heading-lg" style="color:white">GLUTEN-FREE MACADAMIA NUT PROTEIN COOKIE</h2>
						<p style="color:white">Gluten free, high protein cookie baked with keto flour and spotted with decadent white chocolate and macadamia nuts.</p>
						<p class="quote" style="color:white">“SOOO DELICIOUS & GUILT FREE”<br />– KAYLA G.</p>
						<a class="ob-btn ob-btn-blue ob-btn-inline" href="../snacks/" style="color:#fa8a00!important; ">Shop Fit Snacks</a>
					</div>
					<div class="col-md-2 col-sm-2 item-stats-col">
						<p class="ob-paragraph-xl" style="color:white">7 g <span style="color:white">PROTEIN</span></p>
						<p class="ob-paragraph-xl" style="color:white">10 g <span style="color:white">CARBS</span></p>
						<p class="ob-paragraph-xl" style="color:white">0 g <span style="color:white">ADDED SUGAR</span></p>
					</div>
					<div class="col-md-4 col-sm-4 item-image-col">
						<img src="{{cdn 'assets/img/ob-custom/cookie.png'}}" alt="" />
					</div>
				</div>
			</div>
			<div class="snack">
				<div class="row">
					<div class="col-md-6 col-sm-6 item-content-col">
						<h4 class="ob-heading-sm" style="color:white">NEW MEAL ALERT!</h4>
						<h2 class="ob-heading-lg" style="color:white">FARM RAISED FRESH SALMON WITH BROCCOLI</h2>
						<p style="color:white">The best Atlantic salmon served with nutrient-dense organic broccoli florets on a bed of our famous gluten-free brown rice.</p>
						<p class="quote" style="color:white">“Clean. Delicious. High-Protein.”</p>
						<a class="ob-btn ob-btn-blue ob-btn-inline" href="../meals/" style="color:#fa8a00!important">Shop New Meals</a>
					</div>
					<div class="col-md-2 col-sm-2 item-stats-col">
						<p class="ob-paragraph-xl" style="color:white">25 g <span style="color:white">PROTEIN</span></p>
						<p class="ob-paragraph-xl" style="color:white">23 g <span style="color:white">CARBS</span></p>
						<p class="ob-paragraph-xl" style="color:white">365 <span style="color:white">CALORIES</span></p>
					</div>
					<div class="col-md-4 col-sm-4 item-image-col">
						<img src="{{cdn 'assets/img/ob-custom/salmon_3.png'}}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
