<div class="ob-content-panel ob-new-meal-panel">
	<div class="container">
		<div class="snack-slider-wrapper">
			<div class="snack">
				<div class="row">
					<div class="col-md-6 col-sm-6 item-content-col">
						<h4 class="ob-heading-sm">NEW SNACK ALERT!</h4>
						<h2 class="ob-heading-lg">GLUTEN-FREE MACADAMIA NUT PROTEIN COOKIE</h2>
						<p>Gluten free, high protein cookie baked with keto flour and spotted with decadent white chocolate and macadamia nuts.</p>
						<p class="quote">“SOOO DELICIOUS & GUILT FREE”<br />– KAYLA G.</p>
						<a class="ob-btn ob-btn-blue ob-btn-inline" href="../snacks/">Shop Fit Snacks</a>
					</div>
					<div class="col-md-2 col-sm-2 item-stats-col">
						<p class="ob-paragraph-xl">7 g <span>PROTEIN</span></p>
						<p class="ob-paragraph-xl">10 g <span>CARBS</span></p>
						<p class="ob-paragraph-xl">0 g <span>ADDED SUGAR</span></p>
					</div>
					<div class="col-md-4 col-sm-4 item-image-col">
						<img src="{{cdn 'assets/img/ob-custom/macadamia-2.png'}}" alt="" />
					</div>
				</div>
			</div>
			<div class="snack">
				<div class="row">
					<div class="col-md-6 col-sm-6 item-content-col">
						<h4 class="ob-heading-sm">NEW MEAL ALERT!</h4>
						<h2 class="ob-heading-lg">FARM RAISED FRESH SALMON WITH BROCCOLI</h2>
						<p>The best naturally sourced Atlantic salmon served with nutrient-dense organic broccoli florets on a bed of our famous gluten-free brown rice.</p>
						<p class="quote">“Clean. Delicious. High-Protein.”</p>
						<a class="ob-btn ob-btn-blue ob-btn-inline" href="../meals/">Shop New Meals</a>
					</div>
					<div class="col-md-2 col-sm-2 item-stats-col">
						<p class="ob-paragraph-xl">25 g <span>PROTEIN</span></p>
						<p class="ob-paragraph-xl">23 g <span>CARBS</span></p>
						<p class="ob-paragraph-xl">365 <span>CALORIES</span></p>
					</div>
					<div class="col-md-4 col-sm-4 item-image-col">
						<img src="{{cdn 'assets/img/ob-custom/salmon-meal.png'}}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
