<div class="ob-content-panel ob-newsletter-panel" style="background-color: rgb(4, 68, 101,.8)">
	<div class="bg-overlay">
		<div class="container">
			<h2 class="ob-heading-lg ob-text-white">SUBSCRIBE TO MYFITFOODS FOR EXCLUSIVE DEALS, GIVEAWAYS, and NUTRITIONAL TIPS</h2>
			<form class="form" action="{{urls.subscribe.action}}" method="post">
			    <fieldset class="form-fieldset">
			        <input type="hidden" name="action" value="subscribe">
			        <input type="hidden" name="nl_first_name" value="bc">
			        <input type="hidden" name="check" value="1">
			        <div class="form-field">
			            <div class="form-prefixPostfix wrap">
			                <input class="form-input"
			                       id="nl_email"
			                       name="nl_email"
			                       type="email"
			                       value="{{customer.email}}"
			                       placeholder="{{lang 'newsletter.email_placeholder'}}"
			                       aria-describedby="alertBox-message-text"
			                >
			                <input class="button button--primary form-prefixPostfix-button--postfix" style="color:white; background-color:#64be6b"
			                       type="submit"
			                       value="{{lang 'newsletter.subscribe_submit'}}"
			                >
			            </div>
			            {{#if settings.show_newsletter_summary }}
			                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
			            {{/if}}
			        </div>
			    </fieldset>
			</form>
			<p class="ob-text-white"><strong>We’ll only send you exclusive member deals and updates.</strong></p>
		</div>
	</div>
</div>
