<div class="ob-content-panel ob-popular-panel">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 text-col">
				<h4 class="ob-heading-sm">Popular Meals</h4>
				<h2 class="ob-heading-lg">OUR MOST POPULAR DISHES, CHOSEN BY THE PEOPLE</h2>
				<p>Believe it or not, eating healthy can be tasty too. Our dishes are carefully crafted to check all the essential macro boxes without sacrificing flavor.</p>

				<a href="../meals/" class="ob-btn ob-btn-inline">Shop Popular Meals</a>
			</div>
			<div class="col-md-6 col-sm-6 slide-col">
				<div class="slide-wrapper">
					<div class="image-slide">
						<img src="{{cdn 'assets/img/ob-custom/caveman-steak.png'}}" alt="" />
					</div>
					<div class="image-slide">
						<img src="{{cdn 'assets/img/ob-custom/turkey-pasta.png'}}" alt="" />
					</div>
					<div class="image-slide">
						<img src="{{cdn 'assets/img/ob-custom/shredded-bbq.png'}}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
