<div class="ob-quality-panel">
	<div class="bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 image-col">
					<img src="{{cdn 'assets/img/ob-custom/home-taco-tray.png'}}" alt="" />
				</div>
				<div class="col-md-6 col-sm-6">
					<h3 class="ob-heading-sm"><span style="background-color:lightblue;     padding: 7px;
    /* margin: 7px; */
    font-weight: 800;
    font-size: 26px;
">BEST IN CLASS INGREDIENTS</span></h3>
					<p class="ob-paragraph-md ob-text-white">We do our best to abstain from added preservatives, fake colors, sugars, and sodium. Our carbs are gluten free (95%) and are low on the glycemic index and all our spices are freshly ground every day. Proteins are 85% or leaner, and all fats are 100% organic and heart healthy.</p>
					<h3 class="ob-heading-sm"><span style="background-color:lightblue;     padding: 7px;
    /* margin: 7px; */
    font-weight: 800;
    font-size: 26px;
">COOKED FRESH DAILY</span></h3>
					<p class="ob-paragraph-md ob-text-white">Feel the difference whole food makes. We cook our meals fresh every single day just for you!</p>

					<h3 class="ob-heading-sm"><span style="background-color:lightblue;     padding: 7px;
    /* margin: 7px; */
    font-weight: 800;
    font-size: 26px;
">OPTIMIZED RESULTS</span></h3>
					<p class="ob-paragraph-md ob-text-white">Most people don’t know how many calories they need daily - Do you? This is how you optimize your energy, hormone, body fat, and lean body mass levels. Our Nutritional Coaches and Dietitians will dial you in, and then explain to you exactly how many calories you need daily to reach your goals.

</p>
				</div>
			</div>
		</div>
	</div>
</div>
