<div class="ob-content-panel ob-content-panel-75 ob-testimonials-panel" style="background:#044465">
	<div class="container">
		<div class="quotes-container">
			<div class="quote">
				<p class="ob-text-white">
					“Being a mom of two and a teacher makes MyFitFoods a lifesaver. No more spending rare free time meal 
					prepping for hours on end every Sunday.”
				</p>
				<div class="source">
					<span class="name" style="color:orange">Cassidy M.</span>
					<span class="location" style="color:white">Houston, TX</span>
				</div>
			</div>
			<div class="quote">
				<p class="ob-text-white">
					“Feeling the best I’ve ever felt. This program is exactly what I needed to make real change.”
				</p>
				<div class="source">
					<span class="name" style="color:orange">Marshall W.</span>
					<span class="location" style="color:white">Houston, TX</span>
				</div>
			</div>
		</div>
	</div>
</div>
