<div class="ob-content-panel ob-content-panel-75 made-fresh">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<img src="{{cdn 'assets/img/ob-custom/meal-prep.jpg'}}" alt="" />
			</div>
			<div class="col-md-6 col-sm-6">
				<h3 class="ob-heading-md">HEALTHY, TASTY, & AFFORDABLE MEALS MADE FRESH DAILY</h3>
				<p>Real people need real healthy food, and this is what we do. We cook daily using the freshest ingredients possible. When you eat right, you’ll be amazed at the results. “Let food be thy medicine, and let medicine be the food” -Hippocrates
				</p>

				<h3 class="ob-heading-md">LIVES CHANGED WITH MYFITFOODS</h3>

				<img class="divider-bar" src="{{cdn 'assets/img/ob-custom/divider-bar-2.png'}}" alt="" />

				<div class="population-blocks">
					<div class="pop-block ob-paragraph-xl">
						1,000
						<span>LIVES</span>
					</div>
					<div class="pop-block ob-paragraph-xl">
						10,000
						<span>LIVES</span>
					</div>
					<div class="pop-block ob-paragraph-xl">
						100,000
						<span>LIVES</span>
					</div>
					<div class="pop-block ob-paragraph-xl">
						1,000,000
						<span>LIVES</span>
					</div>
				</div>

				<a href="../meals/" class="ob-btn ob-btn-blue ob-btn-inline">Are You Ready to Get Fit?</a>
			</div>
		</div>
	</div>
</div>
