<div class="ob-content-panel ob-content-panel-75 meet-mario">
	<div class="container">
		<div class="title-head">
			<img src="{{cdn 'assets/img/ob-custom/mario.jpeg'}}" alt="" />
			<h2 class="ob-heading-lg">MEET MARIO,<br />THE FOUNDER OF MYFITFOODS</h2>
		</div>

		<p>MyFitFoods was founded for simple reasons. We need a place to eat at that is healthy and affordable.</p>
		<p>I wanted a place where we could serve people and earn a good living. We focus on being genuine, providing the best product we can, getting our #fitfam results, and having fun doing it.</p>
		<p>We grind every day, but most days we aren’t working, we are living the dream, and that’s taking care of you! </p>
		<p>As a personal trainer, I saw many people work hard, get fit, but they never achieved the results they wanted. MyFitFoods is something that needed to be done. </p>
		<p>It’s been a hard road, but you aren’t defined by how you fail, you’re defined by how you live!</p>
		<p>You’re not too old, your metabolism isn’t messed up, you didn’t inherit your families genes, there’s nothing wrong with you, except for habits and what your eating. Create new habits, eat food that’s gonna power you up, get moving, and start living! </p>
		<p>Enjoy waking up in the mornings with purpose, own the day, live, get moving, and watch not just your body change, but your mentality too!</p>
		<p>It was through a lot of grit, struggle, blood, sweat, and tears that MyFitFoods was reborn! </p>
		<p>I hope you enjoy MyFitFoods V2. This is nothing but pure passion for me. Every single resource I have, has gone into MFFV2 along an incredible amount of work from the team.</p>
		<p>They are my heroes who take care of you every single day. We love what we do and we believe in what we do!</p>
		<p>-Mario Mendias, Founder & CEO</p>
	</div>
</div>
