<div class="ob-content-panel ob-content-panel-75 meet-mario">
	<div class="container">
		<div class="title-head">
			<h2 class="ob-heading-lg">MEET MARIO,<br />THE FOUNDER OF MYFITFOODS</h2>
		</div>

		<p>MyFitFoods was founded for simple reasons. We all need a place to eat at that is healthy, tasty and affordable.  It has not been easy starting a company from the ground up, especially a second time.  But, it really is worth it.</p>
		<p>I wanted a place where we could provide people with healthy food, genuinely serve them and earn a good living by doing so. We focus on being genuine, providing the best product we can, getting our fit family results, and we have fun doing it.</p>
		<p>We grind every day, and that's ok, because we love taking care of you!</p>
		<p>As a personal trainer, I saw many people work out hard, and get fit.  But they never got the body composition results they wanted. Nutrition is 70-80% of your results.  You are what you eat.  Eat Fit Live Fit</p>
		<p>It’s been a journey, but you aren’t defined by how you fail. You’re defined by how you get up, and how you continue to persist, until you're successful!</p>
		<p>Most people have a hard time losing weight.  It's not easy. You need a good coach, some good food, and a bit of accountability for the best results. There’s nothing wrong with you, except your habits and what you're eating. Create new habits, eat food that’s gonna power you up, get moving, and start living!</p>
		<p>Enjoy waking up in the mornings with purpose, own the day, live, get moving, and watch not just your body change, but your mentality too!</p>
		<p>It was through a lot of grit, struggle, blood, sweat, and tears that MyFitFoods was reborn! </p>
		<p>I hope you enjoy MyFitFoods V2. This is nothing but pure passion for me. Every single resource I have, has gone into MFFV2 along an incredible amount of work from the team.</p>
		<p>They are my heroes who take care of you every single day. We love what we do and we believe in what we do!</p>
		<p>-Mario Mendias, Founder & CEO</p>
	</div>
</div>
