<div class="ob-content-panel ob-content-panel-75 ob-testimonials-panel">
	<div class="container">
		<div class="quotes-container">
			<div class="quote">
				<p class="ob-text-white">
					“Being a mom of two and a teacher makes MyFitFoods a lifesaver. No more spending rare free time meal 
					prepping for hours on end every Sunday."
				</p>
				<div class="source">
					<span class="name">Cassidy M.</span>
					<span class="location">Houston, TX</span>
				</div>
			</div>
		</div>
	</div>
</div>
