<div class="ob-content-panel ob-content-panel-75 top-reasons">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-7 text-col">
				<h2 class="ob-heading-lg">THE TOP REASONS TO LOVE MYFITFOODS</h2>

				<div class="reason-item ob-paragraph-sm">
					ORGANIC SPICES W/ NO ADDITIVES, FILLERS, PRESERVATIVES OR COLORS
				</div>
				<div class="reason-item ob-paragraph-sm">
					OUR CARBS ARE 100% GLUTEN FREE & LOW G.I.
				</div>
				<div class="reason-item ob-paragraph-sm">
					ALL FATS ARE ORGANIC & 100% PURE
				</div>
				<div class="reason-item ob-paragraph-sm">
					PROTEINS ARE 85% OR LEANER
				</div>
				<div class="reason-item ob-paragraph-sm">
					CONTAINERS ARE BPC FREE & 100% RECYCLABLE
				</div>

				<div class="btn-block">
					<a href="../meals/" class="ob-btn ob-btn-blue ob-btn-inline">Get Fit Now</a>
					<a href="../success-stories/" class="ob-btn ob-btn-inline">Real Results</a>
				</div>
			</div>
			<div class="col-md-2 sub-logo-col">
				<img class="mff-sub-reasons-logo" src="{{cdn 'assets/img/ob-custom/mff-sub-logo.png'}}" alt="" />
			</div>
			<div class="col-md-5 col-sm-5 image-col">
				<img src="{{cdn 'assets/img/ob-custom/food-boxes.jpg'}}" alt="" />
			</div>
		</div>
	</div>
</div>
