<div class="ob-content-panel ob-content-panel-75 top-reasons">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-7 text-col">
				<h2 class="ob-heading-lg">WHY MY FIT FOODS?</h2>

				<div class="reason-item ob-paragraph-sm">
					WE GIVE A FIT ABOUT YOU
				</div>
				<div class="reason-item ob-paragraph-sm">
					MYFITLIFE = RESULTS
				</div>
				<div class="reason-item ob-paragraph-sm">
					W/ FIT CLUB HEALTHY MEALS RANGE FROM $4-9
				</div>
				<div class="reason-item ob-paragraph-sm">
					GREAT INGREDIENTS - TASTY FOOD
				</div>
				<div class="reason-item ob-paragraph-sm">
					1 MEAL DONATED FOR EVERY 4  SOLD
				</div>
				<div class="reason-item ob-paragraph-sm">
					CONTAINERS - 100% RECYCLABLE AND BPC FREE
				</div>

				<div class="btn-block">
					<a href="../meals/" class="ob-btn ob-btn-blue ob-btn-inline">Get Fit Now</a>
					<a href="../success-stories/" class="ob-btn ob-btn-inline">Real Results</a>
				</div>
			</div>
			<div class="col-md-2 sub-logo-col">
				<img class="mff-sub-reasons-logo" src="{{cdn 'assets/img/ob-custom/mff-sub-logo.png'}}" alt="" />
			</div>
			<div class="col-md-5 col-sm-5 image-col">
				<img src="{{cdn 'assets/img/ob-custom/food-boxes.jpg'}}" alt="" />
			</div>
		</div>
	</div>
</div>
