<div class="faq-block">
    <div class="title-toggle">
        <p>Do you deliver to my area?</p>
        <span class="toggle-icon">-</span>
    </div>
    <div class="faq-answer">
    	<p>Unlike other meal prep companies, you're more than just a customer to us. We are committed to your success, and go beyond being just the food you eat.</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Is there an order minimum?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>We receive shipments of fresh raw food daily, cook daily at our local kitchens and deliver fresh to each store daily!</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Is there a delivery fee?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>The 21 day challenge is the perfect starting point for people who want results! We custom tailor, create and educate you on a nutritional plan designed to fit your lifestyle.</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>What days do you deliver?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Fit Club is our discount membership program; we provide members a 20% discount on all food for only $10 a month!</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>What should I order?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Getting the best results are on a client by client basis. We have many testimonials Click here from clients who have had excellent results on the 21DC.</p>
		<p>We have found that people who eat our food, exercise and stay hydrated have lost anywhere from 1-19 pounds on their 21 day challenge. Results vary from person to person.</p>
    </div>
</div>
