<div class="faq-block">
    <div class="title-toggle">
        <p>Do you deliver to my area?</p>
        <span class="toggle-icon">-</span>
    </div>
    <div class="faq-answer">
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Is there an order minimum?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Is there a delivery fee?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
    </div>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>What days do you deliver?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>What should I order</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
    </div>
</div>