<div class="faq-block">
    <div class="title-toggle">
        <p>Does MyFitFoods offer gluten-free meal options?</p>
        <span class="toggle-icon">-</span>
    </div>
    <div class="faq-answer">
    	<p>Yes! Over 90% of the menu is gluten free. All gluten free meal options will have a "Gluten Free" label or tag on them.</p>
        <p>Please make sure to speak to your local store about your dietary requirements so we can tailor your meals to you.</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Is there Keto options?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Our entire dinner menu is low-carb, and therefore quite Keto friendly.</p>
        <p>Most of our Keto clients simply add a small amount of olive oil, coconut oil, or other healthy fat to the meals, and they make a perfectly balanced Keto option.</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Do you have dairy-free options for people with milk allergies?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>Depending on the level of your sensitivity, we do have more options that only contain a garnish of cheese or small amount of dairy.</p>
        <p>For more specifics regarding our current menu options feel free to call your local storefront!</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>Do you use processed foods or artificial ingredients?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>We use all natural ingredients from sources local to each store!</p>
        <p>Nothing is processed or artificial, from our spices to our chicken, we make sure only to source the best for each meal.</p>
    </div>
</div>
<div class="faq-block">
    <div class="title-toggle">
        <p>How much sodium is typically in MyFitFoods meals?</p>
        <span class="toggle-icon">+</span>
    </div>
    <div class="faq-answer">
    	<p>We do our best to keep most meals below 500mg of sodium.</p>
    </div>
</div>
