//***************************
//Typography util classes
//***************************

.ob-heading {
  &-xl {
    @include text($size: 30px, $lineHeight: 40px, $weight: 800);
    @include breakpoint("small") {
      @include text($size: 44px, $lineHeight: 55px, $weight: 800);
    }
  }
  &-lg {
    @include text($size: 26px, $lineHeight: 32px, $weight: 800);
    @include breakpoint("small") {
      @include text($size: 33px, $lineHeight: 45px, $weight: 800);
    }
  }
  &-md {
    @include text($size: 23px, $lineHeight: 30px, $weight: 800);
  }
  &-sm {
    @include text($size: 21px, $lineHeight: 25px, $weight: 800);
  }
  &-xs {
    @include text($size: 17px, $lineHeight: 24px, $weight: 800);
  }
}

.ob-paragraph {
  &-xl {
    @include text($size: 24px, $lineHeight: 24px, $weight: 400);
    @include breakpoint("small") {
      @include text($size: 28px, $lineHeight: 28px, $weight: 400);
    }
  }
  &-lg {
    @include text($size: 18px, $lineHeight: 22px, $weight: 400);
    @include breakpoint("small") {
      @include text($size: 22px, $lineHeight: 25px, $weight: 400);
    }
  }
  &-md {
    @include text($size: 19px, $lineHeight: 28px, $weight: 400);
  }
  &-sm {
    @include text($size: 17px, $lineHeight: 20px, $weight: 400);
  }
  &-xs {
    @include text($size: 11px, $lineHeight: 11px, $weight: 400);
  }
}

.ob-text {
  &-white {
    color: $ob-white;
    &:hover {
      color: $ob-white;
    }
  }
  &-primary {
    color: $ob-text-primary;
    &:visited, &:hover {
      color: $ob-text-primary;
    }
  }
  &-secondary {
    color: $ob-text-secondary;
    &:hover {
      color: $ob-text-secondary;
    }
  }
  &-orange {
    color: $ob-orange;
    &:hover {
      color: $ob-orange;
    }
  }
}

.ob-caps {
  text-transform: uppercase;
}

.ob-text-center {
  text-align: center;
}
.ob-text-left {
  text-align: left;
}
.ob-text-right {
  text-align: right;
}

.ob-text-bold {
  font-weight: 700;
}

