<div class="roadmap">
	<div class="container">
		<h2 class="ob-heading-lg">LOCATIONS ON THE ROADMAP</h2>
		<div class="row">
			<div class="col-md-4 col-sm-4 coming-soon">
				<p>HOUSTON – 2021</p>
				<p>DALLAS (DFW)</p>
				<p>AUSTIN</p>
				<p>PHOENIX</p>
			</div>
			<div class="col-md-4 col-sm-4 coming-soon">
				<p>COLORADO SPRINGS</p>
				<p>SALT LAKE CITY</p>
				<p>FORT COLLINS</p>
				<p>SEATTLE</p>
			</div>
			<div class="col-md-4 col-sm-4 coming-soon">
				<p>SAN FRANCISCO</p>
				<p>LOS ANGELES</p>
				<p>YOUR CITY !</p>
			</div>
		</div>

		{{> components/ob-custom/locations/ob-newsletter}}
	</div>
</div>
