<div class="ob-content-panel fit-club-intro ob-desktop">
	<div class="container">
		<div class="header-content">
			<h2 class="ob-heading-lg">INTRO TO FIT CLUB 101</h2>
			<p>It’s a proven fact people who commit to programs end up getting the best results. 
				Just so happens that this one will save you 20% as well.</p>
		</div>

		<div class="step-chart">
			<div class="left-col">
				<div class="step-block">
					<h3 class="ob-heading-sm ob-text-orange">Step 2</h3>
					<h3 class="ob-heading-sm">Shop Fit Meals</h3>
					<p>Shop and save! Our best customers let us do their meal prepping 5 days out of the week and they save over $150 per month.  
						Less Prep More Reps!</p>
				</div>
			</div>
			<div class="right-col">
				<div class="step-block step-block-top">
					<h3 class="ob-heading-sm ob-text-orange">Step 1</h3>
					<h3 class="ob-heading-sm">Join Fit Club</h3>
					<p>Joining the Fit Club is fast and easy. Click below to get started and start saving on unlimited meals.</p>
					<p class="link-wrapper"><a href="../fit-club-signup/">Click here to get started.</a></p>
				</div>
				<div class="step-block step-block-bottom">
					<h3 class="ob-heading-sm ob-text-orange">Step 3</h3>
					<h3 class="ob-heading-sm">Share Fit Love</h3>
					<p>After discounts our average small meal is $6.50 and the average large meal is $8.25 - That's affordable! 
						First rule about Fit Club… Tell everyone! If our food is not affordable for you, please reach out to us. 
						We will find a way to take care of you!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ob-content-panel fit-club-intro ob-mobile">
	<div class="container">
		<div class="header-content">
			<h2 class="ob-heading-lg">INTRO TO FIT CLUB 101</h2>
			<p>It’s a proven fact people who commit to programs end up getting the best results. 
				Just so happens that this one will save you 20% as well.</p>
		</div>

		<div class="step-chart">
			<div class="step-block">
				<h3 class="ob-heading-sm ob-text-orange">Step 1</h3>
				<h3 class="ob-heading-sm">Join Fit Club</h3>
				<p>Joining Fit Club is fast and easy. Click below to get started and start saving on unlimited meals.</p>
				<p class="link-wrapper"><a href="#Newsletter">Click here to get started.</a></p>
			</div>
			<div class="block-divider"></div>
			<div class="step-block">
				<h3 class="ob-heading-sm ob-text-orange">Step 2</h3>
				<h3 class="ob-heading-sm">Shop Fit Meals</h3>
				<p>Shop and save! Our best customers let us do their meal prepping 5 days out of the week and they save over $150 per month!</p>
			</div>
			<div class="block-divider"></div>
			<div class="step-block">
				<h3 class="ob-heading-sm ob-text-orange">Step 3</h3>
				<h3 class="ob-heading-sm">Share Fit Love</h3>
				<p>After discounts our average meal is $6.17, thats affordable. First rule about Fit Club… Tell everyone!</p>
			</div>
			<div class="block-divider heart"></div>
		</div>
	</div>
</div>
